composition:
  title: "il mondo dorme"

streams:
  - stream_id: "texture1"
    solo:
    onset: 0.0
    duration: 25.0
    sample: "016-39_8-2_2.wav"
    grain:
      duration: 
        type: cubic
        points: [[0,.03],[2,.08],[5,0.01],[10,.01],[12,0.08],[15,.01],[17.9,.01],[18,0.1],[20,.13],[25,0.023]]      
      envelope: triangle
    density: 
      type: cubic
      points: [[0,100],[5,9],[10,20],[15,50],[17.9,50],[18,10],[20,13],[25,50]] 
    distribution: [[0,0],[6,0.2],[9,0],[17,0],[20,1]]       
    pointer:     
      speed: [[0,.01],[10,0.2],[12,0.01],[15,-.1],[20,0.000]]
      jitter: [[0,0.001],[1,0.0],[10,0.001],[22,1]]
    pitch:
      shift_semitones: [[0,4],[5,0],[12,-10],[18,7],[18.2,-7],[25,12]]
    # -----------------------------------------------------------------
  - stream_id: "texture1"
    onset: 25.0
    duration: 1.5
    sample: "016-39_8-2_2.wav"
    grain:
      duration: [[0,.03],[1.5,0.01]]      
      envelope: half_sine
    pointer:
      start: 0.5       
      speed: 1
      jitter: [[0,0.0],[1.5,0.001]]
    pan:
      type: cubic
      points: [[0,360],[5,-360]]  
    # -----------------------------------------------------------------
